*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    font-size: 72px;
    font-family: "K2D", sans-serif;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -3%;
}
h3{
    font-size: 32px;
    font-family: "K2D", sans-serif;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -3%;
}
p{
    font-size: 20px;
    font-family: "Georama", sans-serif;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 2%;
}
.section--benefit-container{
    background-color: #DBF0B3;
    border-radius: 80px;
    padding: 144px 0px 96px 0px;
}
.page-container{
    padding: 0px 64px;
    max-width: 1440px;
    margin: 0 auto;
}

.title--benefits h2{
    text-align: center;
   
}
.section--grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.container-benefits{
    gap: 32px;
    margin-top: 64px;
}
.grid-item{
    align-items: center;
    justify-content: center;
}
.item-block{
    padding: 24px 32px 48px 32px;
    border-radius: 64px;
    background-color: #FFF4E7;
}
.grid-content{
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-top: 32px;
    text-align: center;
}
.grid-icons{
    text-align: center;
}
.grid-item:hover{
    background-color: #FDDBB5;
    cursor: url(image/Icon.svg), auto;
}

.quote-container{
    padding-top: 144px;
}

.quote--bg-image{
    position: relative;
   text-align: center;
}
.quote--bg-image img{
    width: 100%;
}
.quote--content{
    position: absolute; 
    top: 40%; 
    left: 4%; 
}
.quote--content p{
    margin: 24px auto;
    max-width: 52%; 
}
.section--quote-code{
    margin: 40px auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
    padding: 8px 16px 8px 24px;
    max-width: 54%;
}
.section--quote-code input{
   outline: none;
   border: none;
}
.section--quote-code input::placeholder{
    font-family: "Georama", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    
}
.button-rectangle{
    text-decoration: none;
    border: none;
    padding:8px 20px 8px 16px ;
    background-color: #FF4D4D;
    font-size: 16px;
    font-family: "Georama", sans-serif;
    border-radius: 32px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    line-height: 24px;
}
.button-rectangle:hover{
    background-color: wheat ;
    color: red;
    border: 1px solid red;
    path{
            fill: red;
        }
}
.button-rectangle:focus{
    background-color: rgb(240, 210, 210) ;
    color: red;
    border: 1px solid red;
    path{
        fill: red;
    }
}
.mobile-image, .mobile-vector,.quote--vector-image {
    display: none;
}

/* Resposive for mobile */
@media only screen and (max-width: 767px) {
    .page-container{
        padding: 0px 16px;
        margin: 0 auto;
    }
  
    .quote-container{
        padding: 0;
        background-color: #EAFCFF;
    }
    .quote--bg-image img:not(.mobile-image img, .quote--vector-image img) {
        display: none;
    }
    h2 {
        font-size: 48px;
        line-height: 56px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }
    .section--quote-container{
        padding-top: 96px;
    }
    .section--benefit-container{
        padding: 96px 0px;
    }
    .section--grid-container {
        grid-template-columns: auto;
    }
    .container-benefits{
        gap: 16px;
        margin-top: 56px;
    }
    .item-block{
        padding: 32px;
        border-radius: 24px;
    }
    .quote-container{
        padding-top: 0px;
        background-color: #EAFCFF;
    }
    
    .section--quote-code {
        display: flex;
        flex-direction: column;
        gap: 20px; 
        margin: 0 auto; 
        max-width: 100%;
        background-color:#EAFCFF ;
    }
   
    .quote--content{
        position: static; 
      
    }
    .quote--content p {
       max-width: 100%;
    }

    .section--quote-code input {
        outline: none;
        padding: 16px 16px 16px 24px;
        border-radius: 32px;
        font-size: 22px;
    }
    .mobile-image{
        display: block;
    }
    .quote--vector-image{
        display: block;
        
    }
    .quote--vector-image img{
        width: 100%; 
        display: block;
    }
}

@media only screen and (max-width: 991px) and (min-width:767px){
    h2{
        font-size: 36px;
        line-height: 20px;
    }
    h3{
        font-size: 22px;
    }
    p{
        font-size: 16px;
        line-height: 22px;
    }
    .section--grid-container{
        grid-template-columns: auto auto;
    }
    .section--quote-code{
        margin: 10px auto;
        padding: 8px;   
    }
    .button-rectangle{
        padding:4px;
    }
}
@media only screen and (max-width: 1360px) and (min-width:991px){
    h2{
        font-size: 50px;
        line-height: 20px;
    }
}