*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    font-size: 72px;
    font-family: "K2D", sans-serif;
}
h3{
    font-size: 32px;
    font-family: "K2D", sans-serif;
}
p{
    font-size: 20px;
    font-family: "Georama", sans-serif;
}
.section--container{
    background-color: #DBF0B3;
    border-radius: 80px;
}
.page--conatiner{
    padding: 64px;
}
.container--head-benefit h2{
    text-align: center;
    margin-bottom: 40px;
}
.container--body{
    display: grid;
    grid-template-columns: 570px 570px 570px;
    gap: 32px;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 64px;
    padding: 32px;
    background-color: white;
}
.container:hover{
    background-color: #FDDBB5;
}
.container img{
    margin-bottom: 16px;
}
.container h3{
    text-align: center;
    line-height: 40px;
    letter-spacing: -3%;
}
.container p{
    text-align: center;
    line-height: 32px;
    letter-spacing: 2%;
}


.section--quote{
    padding-top: 144px;
}

.section__background-image{
    background-image: url(image/background.png);
    background-size: contain;
    background-position-x: center;
    height: 839px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section--quote-full{
    margin-left: 160px;
}
.section--content-quote h2{
    line-height: 80px;
    letter-spacing: -3%;
}

.section--content-quote p{
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2%;
    line-height: 32px;
    margin-top: 14px;
    width: 706px;
    font-family: "Georama", sans-serif;
    font-size: 20px;
    margin-bottom: 120px;
}
.section--quote-code{
    font-size: 20px;
    border-radius: 32px;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
}
.section--quote-code input{
    border: none;
    font-size: 16px;
    font-family: "Georama", sans-serif;
    width: 400px;
}
.button-rectangle{
    text-decoration: none;
    border: none;
    background-color: #FF4D4D;
    font-size: 16px;
    font-family: "Georama", sans-serif;
    border-radius: 32px;
    padding: 10px;
    color: white;
    width: 192px;
    cursor: pointer;
}