*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    font-size: 72px;
    font-family: "K2D", sans-serif;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.03em;
    color:rgba(56, 22, 6, 1);
}
h3{
    font-size: 32px;
    font-family: "K2D", sans-serif;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -3%;
    color: rgba(56, 22, 6, 1);

}
p{
    font-size: 20px;
    font-family: "Georama", sans-serif;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 2%;
    color: rgba(56, 22, 6, 1);

}
.section--benefit-container{
    background-color: #DBF0B3;
    border-radius: 80px;
    padding: 144px 0px 96px 0px;
}
.page-container{
    padding: 0px 64px;
    max-width: 1440px;
    margin: 0 auto;
}

.section--benefit-container .title--benefits h2{
    text-align: center;
   
}
 .section--grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
 .section--benefit-container .container-benefits{
    gap: 32px;
    margin-top: 64px;
}
.section--benefit-container .grid-item{
    align-items: center;
    justify-content: center;
}
.section--benefit-container .item-block{
    padding: 24px 32px 48px 32px;
    border-radius: 64px;
    background-color: #FFF4E7;
}
.section--benefit-container .grid-content{
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-top: 32px;
    text-align: center;
}
.section--benefit-container  .grid-icons{
    text-align: center;
}
.section--benefit-container .grid-item:hover{
    background-color: #FDDBB5;
    cursor: url(image/Icon.svg), auto;
}

/* Second Page */
.section--quote-container{
    padding-top: 144px;
}

.section--quote-container .quote--bg-image{
    position: relative;
   text-align: center;
}
.section--quote-container .quote--bg-image img{
    width: 100%;
}
.quote--content{
    position: absolute; 
    top: 40%; 
    left: 4%; 
}
.section--quote-container .quote--content p{
    margin: 24px auto;
    max-width: 52%; 
}
.section--quote-code{
    margin: 40px auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
    padding: 8px 16px 8px 24px;
    max-width: 54%;
    box-shadow: 0px 16px 24px 0px rgba(10, 41, 24, 0.08);
    
}
.section--quote-container .section--quote-code input{
   outline: none;
   border: none;
}
.section--quote-container .section--quote-code input::placeholder{
    font-family: "Georama", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    
}
.button-rectangle{
    text-decoration: none;
    border: none;
    padding:8px 20px 8px 16px ;
    background-color: #FF4D4D;
    font-size: 16px;
    font-family: "Georama", sans-serif;
    border-radius: 32px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    line-height: 24px;
}
.button-rectangle:hover{
    background-color: wheat ;
    color: red;
    border: 1px solid red;
    path{
            fill: red;
        }
}
.button-rectangle:focus{
    background-color: rgb(240, 210, 210) ;
    color: red;
    border: 1px solid red;
    path{
        fill: red;
    }
}
 .mobile-image, .mobile-vector,.quote--vector-image {
    display: none;
}

/* Next Section */
.section--second-need .container-content-what p{
    color: #381606;
}
.section--second-need .container-content-what h2{
    text-align: center;
}
.section--second-need .container--content{
    display: flex;
    justify-content: center;
    padding-top: 64px;
}
 .content--img--text{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 100%;
}
.section--second-need .content--text{
    max-width: 600px;
    gap: 32px;
}
.section--second-need .content--mobile{
    display: none;
}

/* Next Section */
.section--content-electricity .container-content-electricity h2{
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}
.section--content-electricity .container-content p{
    max-width:84% ;
    text-align: center;
    margin: 32px auto;
}
.section--content-electricity .content--save{
    display: flex;
    gap: 47px;
}
.section--content-electricity .content--save-body{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section--content-electricity .content--save-head h3{
    margin-bottom: 32px;
}

/* Install SOlar Power section */
.section--second-need .container-content-install .show-desktop{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.section--second-need .content--text{
    display: flex;
    flex-direction: column;
    gap:32px ;
    text-align: start;
}
.show-mobile{
    display: none;
}
.section--second-need .content--text .show-desktop{
    text-align: start;
    margin: 0px;
}

/* Solar Panel section */
.section--solar-panel .section--content-panel{
    padding-bottom: 144px;
}
.section--content-panel h2{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px;
}

.section--solar-panel .content--solar-panel{
    display: flex;
    gap: 32px;
    max-width: 90%;
    margin: 0 auto;
}
.section--solar-panel .content-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section--solar-panel .content-image {
    display: flex;
    justify-content: center;  
    align-items: center;                  
    text-align: center;      
}
.section--solar-panel .content-image-reverse {
    display: flex;
    justify-content: center;  
    align-items: center;                  
    text-align: center;      
}
.section--solar-panel .content--solar-reverse{
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    max-width: 90%;
    margin: 0 auto;
}

/* setup simplified */
.section--container-simplified .title--benefits h2{
    text-align: center;
}
.section--container-simplified .title--benefits p{
    text-align: center;
    margin: 32px 0px 64px 0px;
}
.section--container-simplified .section--grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
.section--container-simplified .grid-content p{
    font-size: 16px;
    line-height: 24px;
}
.section--container-simplified .container-benefits{
    gap: 32px;
    margin-top: 64px;
}
.section--container-simplified .grid-item{
    align-items: center;
    justify-content: center;
}
.section--container-simplified .item-block{
    padding: 24px 32px 48px 32px;
    border-radius: 64px;
    background-color: #FFF4E7;
}
.section--container-simplified .grid-content{
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-top: 32px;
    text-align: center;
}
.section--container-simplified  .grid-icons{
    text-align: center;
}
.section--container-simplified .grid-item:hover{
    background-color: #FDDBB5;
    cursor: url(image/Icon.svg), auto;
}


/* houses suitable */
.section--container-simplified{
    .title--suitable{
       h2{
        margin: 0 auto;
        max-width: 60%;
        text-align: center;
        margin-bottom: 32px;
       }
       p{
        max-width: 76%;
        text-align: center;
        margin: 0 auto;
       }
    }
}

/* electric bill */
.section--content-electricBill{
    .content-electric-bill{
        padding-top: 114px;
        h2{
            margin: 0 auto;
            text-align: center;
            margin-bottom: 32px;
        }
        p{
            max-width: 76%;
            text-align: center;
            margin: 0 auto;
           }
    }
    .content-best-place{
        h2{
            margin-bottom: 32px;
            text-align: center;
            max-width: 80%;
        }
    }
    .content-textImg{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 8px;
        margin: 0 auto;
        .content-text{
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 66%;
        }
    }
}


/* austin solar panel */
.section-content-austin{
    margin-top: 64px;
    h2{
        text-align: center;
        padding-bottom: 56px;
    }
    .content--text-today{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 auto;
         
        blockquote{
            border-left:4px solid rgba(255, 160, 48, 1);
            padding-left: 32px;
            @media only screen and (max-width: 767px){
                padding-left: 16px;
            }
        }
        .text--solar{
            font-weight: 700;
        }
    }
}

/* section list */
.section--content-connect {
    margin-top: 64px;

    .content-connect h3 {
        margin-bottom: 24px;
    }
    .content--list {
        ul{
            display: flex;
            flex-direction: column;
            gap: 24px;
            line-height: 32px;
            list-style-position: inside;
            font-size: 20px;
            font-family: "Georama", sans-serif;

            li{
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 20px;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 8px; 
                    height: 8px; 
                    background: rgba(255, 160, 48, 1);
                    border-radius: 50%; 
                    margin-right: 12px;

                    @media only screen and (max-width: 767px){
                        margin-right: 8px;
                    }
                }
            }
        }


    }
}

/* navigation paragraph */
.section-content-austin{
    .content--text-today{
        .solar-yellow{
            color: rgba(255, 160, 48, 0.72);
            text-decoration: underline            ;
        }
    }
}
/* Resposive for mobile */
@media only screen and (max-width: 767px) {
    .page-container{
        padding: 0px 16px;
        margin: 0 auto;
    }
    h2 {
        font-size: 48px;
        line-height: 56px;
    }

    h3 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: -0.03em;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        color: rgba(56, 22, 6, 0.72);
        font-weight: 500;
        letter-spacing: 0.02em;
    }
    .section--benefit-container{
        padding: 96px 0px;
        border-radius: 24px;
    }
    .section--benefit-container .grid-content h3{
        font-size: 24px;
        
    }
    .section--benefit-container .section--grid-container {
        grid-template-columns: auto;
    }
    .section--benefit-container .container-benefits{
        gap: 16px;
        margin-top: 56px;
    }
    .section--benefit-container .item-block{
        padding: 32px;
        border-radius: 24px;
    }
    /* second page */
    .section--quote-container{
        padding-top: 96px;
    }
    .section--quote-container .quote-container{
        padding: 0;
        background-color: #EAFCFF;
    }
    .section--quote-container .quote--bg-image img:not(.mobile-image img, .quote--vector-image img) {
        display: none;
    }
 
    .section--quote-container .quote-container{
        padding-top: 0px;
        background-color: #EAFCFF;
    }
    
    .section--quote-code {
        display: flex;
        flex-direction: column;
        gap: 20px; 
        margin: 0 auto; 
        max-width: 100%;
        background-color:#EAFCFF ;
        box-shadow: none;
    }
   
    .section--quote-container  .quote--content{
        position: static; 
      
    }
    .section--quote-container .quote--content p {
       max-width: 100%;
    }

    .section--quote-container  .section--quote-code input {
        outline: none;
        border-radius: 32px;
        font-size: 14px;
        box-shadow: 0px 16px 24px 0px rgba(10, 41, 24, 0.08);
        padding: 16px 16px 16px 24px;
    }
    .section--quote-code input::placeholder{
         color: rgba(56, 22, 6, 0.5);
         font-size: 16px;
         line-height:16px ;
    } 
    .mobile-image{
        display: block;
    }
    .quote--vector-image{
        display: block;
        
    }
    .quote--vector-image img{
        width: 100%; 
        display: block;
    }


    /* next section */
    .section--second-need .container-content-what h2{
        display: none;
    }
     .content--img{
        margin: 0 auto;

    }
    .content--img img{
        height: 232px;
        width: 187.57px;
     
    }
    .section--second-need .content--text{
        margin: 0 auto;
        gap: 16px;
    }
    .section--second-need .content--mobile {
        display: block; 
        text-align: center;
        width: 100%;
    }
    .section--second-need .content--mobile h2 {
        display: block; 
    }


    /* electricity section */
    .section--content-electricity .container-content-electricity h2{
        max-width: 100%;
    }
    .section--content-electricity .content--save{
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
    }
    .section--content-electricity .content--save-img{
        margin: 24px auto;
    }
    .section--content-electricity .content--save-img img{
        max-width: 168px;
        max-height: 232px;
    }
    .section--content-electricity .content--save-head h3{
     text-align: center;
     font-size: 24px;
     color: rgba(56, 22, 6, 1);
        margin-bottom: 24px;
    }
    .section--content-electricity .container-content p{
        max-width:100% ;
    }
    
    /* Install SOlar Power section */
    .show-desktop{
        display: none;
    }
    .show-mobile{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .section--second-need .content--text p{
        text-align: start;
    }

    /* solar panel */
    .section--solar-panel .section--content-panel{
        padding-bottom: 96px;
    }
    .section--solar-panel .content--solar-panel, .content--solar-reverse {
        display: flex;
      flex-wrap: wrap;
    }
    .section--solar-panel .content-image, .content-image-reverse {
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    .section--solar-panel h2{
        margin: 0px auto;
        max-width: 100%;
    }
    

    /* setup simplified */
    .section--container-simplified .section--grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .section--container-simplified .grid-content h3{
        font-size: 24px;
        line-height: 32px;
    }
    .section--container-simplified .page-containerr{
        padding: 0px;
    }
    /* houses suitable */
.section--container-simplified{
    .title--suitable{
       h2{
        max-width: 100%;
        text-align: center;
        margin-bottom: 24px;
       }
       p{
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        color: rgba(56, 22, 6, 0.7);
        ;
       }
    }
}

/* electric bill */
.section--content-electricBill{
    .content-electric-bill{
        padding-bottom: 96px;
        p{
            max-width: 100%;
           }
    }
    .content-textImg{
        display: flex;
        flex-direction: column;
        gap: 24px;

        .content-Img{
            text-align: center;
        }
       
        .show-mobile{
            margin: 0px;
            max-width: 100%;
        }
        .content-text{
            max-width: 100%;
        }
    }
}
/* austin solar panel */
.section-content-austin{
   
    h2{
        padding-bottom: 24px;
    }
    .content--text-today{
        .text--solar{
            font-weight: 700;
        }
    }
}

/* section list */
.section--content-connect {
    .content-connect h3 {
        font-size: 24px;
        font-weight: 600;
    }
    .content--list {
        ul{
            display: flex;
            flex-direction: column;
            gap: 16px;
            line-height: 16px;
            font-size: 16px;
            color:rgba(111, 87, 75, 1);
            ;

            li{
                &::marker{
                    color: rgba(255, 160, 48, 1);
                }
            }
           
        }

    }
}
}

@media only screen and (max-width: 991px) and (min-width:767px){
    h2{
        font-size: 36px;
        line-height: 40px;
    }
    h3{
        font-size: 22px;
    }
    p{
        font-size: 16px;
        line-height: 22px;
    }
    .section--benefit-container .section--grid-container{
        grid-template-columns: auto auto;
    }
    .section--benefit-container .item-block{
        border-radius: 24px;
    }
    .section--quote-container .section--quote-code{
        margin: 2px auto;
        padding: 2px;   
    }
    .button-rectangle{
        padding: 4px;
    }
    .section--second-need .content--img--text{
        display: flex;
        flex-wrap: nowrap;
     
    }
  
  
}
@media only screen and (max-width: 1360px) and (min-width:991px){
    h2{
        font-size: 50px;
        line-height: 48px;
    }
   
    .section--second-need .content--img--text{
        display: flex;
        flex-wrap: nowrap;
     
    }
}



